<p style="color: green"><%= notice %></p>
<div class="container bg-info bg-opacity-25 justify-content-center rounded">
  <h1 class="text-center">Restaurants</h1><hr/>

  <div id="restaurants" class="text-center py-2 ">
    <% @restaurants.each do |restaurant| %>
      <%= render restaurant %>
      <p>
        <div class="d-grid col-4 mx-auto btn btn-warning"><%= link_to "Show this restaurant", restaurant %> </div>
      </p><hr/>
    <% end %>
  </div>
  <div class="d-grid col-4 mx-auto btn  btn-outline-warning">
    <%= link_to "New restaurant", new_restaurant_path %>
  </div>

</div>
